
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700&family=Montserrat:wght@300;400;600;700&family=Roboto&display=swap');

a, h1, h2, h3, h4, h5, h6, p, label, span, tr, th ,td{
    font-family: Montserrat ;
}



header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 20px 50px 20px 50px;
}
header .div{
    display: flex;
    flex-direction: row;
    gap: 10px;
    object-fit: contain;
    align-items: center;
}
#burger-checkbox{
    display: none;
}
#message-checkbox{
    display: none;
}
header div .menu-label {
    position: relative;
    display: block;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    text-transform: uppercase;
    align-self: center;   
    padding: 10px 15px 10px 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid black;
}
.miilove{
    width: 150px;
    
}
a{
    text-decoration: none;
}
header .message-label{
    align-self: flex-end;
    padding: 10px 20px 10px 20px;
    border: none;
    background: linear-gradient(to left, #d3075f, #009fe3);
    color: white;
    font-weight: 600;
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
}
.line{
    background: linear-gradient(to left, #d3075f, #009fe3);
    width: 100vw;
    height: 15px;
}



.menu-wrapper {
    position: fixed;
    bottom: -140px;
    left: -300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    transition: all .4s ease-in-out;
    border: none;
    z-index: 50;
}
.menu-wrapper nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu-wrapper nav ul li{
    width: 200px;
    border: 1px solid grey;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
}
.menu-wrapper nav ul li div{
    height: 30px;
    border: none;
}
.menu-wrapper nav ul li a{
    text-decoration: none;
    color: black;
}
#burger-checkbox:checked ~ .menu-wrapper {
    left: 0;
}

.admin{
    padding: 10px 50px 10px 50px;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin-top: 20px;
}


.message-menu{
    position: fixed;
    opacity: 0;
    bottom: -140px;
    right: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    transition: all .5s ease-in-out;
    border: none;
    z-index: 50;   
}
#message-checkbox:checked ~ .message-menu {
    opacity: 1;
}
.message-menu nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.message-menu nav ul li{
    width: 200px;
    border: 1px solid grey;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    font-weight: 600;
    background-color: white;
}
.message-menu nav ul li a{
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.message-menu nav ul li a canvas{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border:  1px solid black;
}