@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500;700&family=Montserrat:wght@300;400;600;700&family=Roboto&display=swap');

a, h1, h2, h3, h4, h5, h6, p, label{
    font-family: Montserrat ;
}
header{
    background-image: url('https://cdn.discordapp.com/attachments/951121617642205184/968107498722709554/unknown.png');
    display: flex;
    flex-direction: column;
}
header div{
    margin: 0px 70px 0px 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header div nav{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}
header div nav img{
    width: 17%;
    align-self: center;
}
header div nav a{
    color: white;
    text-decoration: none;
    font-size: 22px;
    align-self: center;
    margin-top: 25px;
    cursor: pointer;
}
header div nav button{
    color: white;
    text-decoration: none;
    font-size: 22px;
    align-self: center;
    margin-top: 25px;
    cursor: pointer;
    background-color: none;
    border: none;
}
.buttonConnexion{
    background-color: white;
    border-radius: 5px;
    color: #d3075f;
    padding: 10px 15px 10px 15px;
    font-weight: 600 ;
    font-size: 20px;
}
article{
    display: flex;
    flex-direction: column;
    margin: 400px 0px 200px 200px;
}
h1{
    color: white;
    font-size: 100px;
    font-weight: 700 ;
}
h2{
    color: white;
    font-size: 50px;
}
article a{
    align-self: flex-start;
    background: linear-gradient(to left, #d3075f, #009fe3);
    border-radius: 25px;
    padding: 15px 30px 15px 30px;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: white;
}


form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
form .input {
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px 5px 20px ;
}
form .connexion {
    border: none;
    background: linear-gradient(to left, #d3075f, #009fe3);
    color: white;
    font-weight: 400;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    border-radius: 50px;
}
form .connexion:hover{
    animation: color 0.5s ease;
}
@keyframes color {
    0% {    background: linear-gradient(0deg, #d3075f, #009fe3);}
    6% {    background: linear-gradient(20deg, #d3075f, #009fe3);}
    12% {    background: linear-gradient(45deg, #d3075f, #009fe3);}
    18% {    background: linear-gradient(70deg, #d3075f, #009fe3);}
    25% {    background: linear-gradient(90deg, #d3075f, #009fe3);}
    31% {    background: linear-gradient(105deg, #d3075f, #009fe3);}
    38% {    background: linear-gradient(135deg, #d3075f, #009fe3);}
    45% {    background: linear-gradient(165deg, #d3075f, #009fe3);}
    50% {    background: linear-gradient(180deg, #d3075f, #009fe3);}
    56% {    background: linear-gradient(200deg, #d3075f, #009fe3);}
    63% {    background: linear-gradient(225deg, #d3075f, #009fe3);}
    69% {    background: linear-gradient(250deg, #d3075f, #009fe3);}
    75% {    background: linear-gradient(270deg, #d3075f, #009fe3);}
    80% {    background: linear-gradient(290deg, #d3075f, #009fe3);}
    88% {    background: linear-gradient(315deg, #d3075f, #009fe3);}
    95% {    background: linear-gradient(330deg, #d3075f, #009fe3);}
    100% {    background: linear-gradient(360deg, #d3075f, #009fe3);}
}










footer{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content:    center;
    gap: 160px;
}
footer div{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 50px;
}
footer h5{
    color: white;
    font-family: montserrat;
    font-weight: 600;
}
footer h6{
    color: white;
    font-family: montserrat;
}




