       {% block header %}
       <header>    
            <a href="/admin" class="admin">Admin</a>
            <a href="/">
                <img alt="Logo MiiLove" src="https://media.discordapp.net/attachments/951121617642205184/966374494497280000/unknown.png" class="miilove">
            </a>
            <span></span>
        </header>
        <div class="line" ></div>
        {% endblock %}

