<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="assets/style/reset.css" rel="stylesheet" type="text/css" />
    <link href="assets/style/insciption.css" rel="stylesheet" type="text/css" />
    <script src="https://www.dukelearntoprogram.com/course1/common/js/image/SimpleImage.js"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <a href="/"><img alt="Logo MiiLove" src="https://media.discordapp.net/attachments/951121617642205184/966374494497280000/unknown.png"></a>
        <a href="" class="trad">Français</a>
    </header>
    <div class="line" ></div>
    <h3>Créer un compte</h3>

    <section id="inscription">            
        <form method="POST" action="" enctype='multipart/form-data'>
            <div>
                <article>
                        <div>
                            <div>
                                <h5>Prénom</h5>
                                <input type="text" name="firstname">
                            </div>
                            <div>
                                <h5>Nom</h5>
                                <input type="text" name="lastname">
                            </div>
                        </div>
                    <div>
                            <div>
                                <h5>Ville</h5>
                                <input type="text" name="city">
                            </div>
                            <div>
                                <h5>Âge</h5>
                                <input type="text" name="age">
                            </div>
                        </div>
                        <ul>
                            <li><h5>Genre</h5></li>
                            <li><aside class="button-wrap">
                                <input class="hidden radio-label" id="yes-button" type="radio" name="gender" checked="checked" value="Homme"/>
                                <label class="button-label" for="yes-button">
                                    <h1>Homme</h1>
                                </label>
                                <input class="hidden radio-label" id="no-button" type="radio" name="gender" value="Femme"/>
                                <label class="button-label" for="no-button">
                                    <h1>Femme</h1>
                                </label>
                                <input class="hidden radio-label" id="maybe-button" type="radio" name="gender" value="Autres"/>
                                <label class="button-label" for="maybe-button">
                                    <h1>Autres</h1>
                                </label>
                            </aside></li>
                        </ul>
                        <ul>
                            <li><h5>Cause Militante</h5></li>
                            <li><aside class="button-wrap">
                                <input class="hidden radio-label" id="animaux" type="radio" name="causes" checked="checked" value="Cause animalière"/>
                                <label class="button-label" for="animaux">
                                    <h1>Cause animalière</h1>
                                </label>
                                <input class="hidden radio-label" id="egaliteHF" type="radio" name="causes" value="Égalité homme/femme"/>
                                <label class="button-label" for="egaliteHF">
                                    <h1>Égalité homme/femme</h1>
                                </label>
                                <input class="hidden radio-label" id="evironement" type="radio" name="causes" value="Cause environnementale"/>
                                <label class="button-label" for="evironement">
                                    <h1>Cause environnementale</h1>
                                </label>
                            </aside></li>
                        </ul>
                        <div>
                            <div>
                                <h5>Adresse e-mail</h5>
                                <input type="text" name="mail">
                            </div>
                        </div>
                        <div>
                            <div>
                                <h5>Mot de passe</h5>
                                <input type="text" name="password">
                            </div>
                        </div>
                </article>
                <article>
                    <h5>Photo</h5>
                    <aside>
                        <label for="finput1" class="labelCanvas">+</label>
                        <canvas id= "canv1" ></canvas>
                        <input type="file" multiple="false" accept="image/*" onchange="upload(1)" id="finput1" name="image">
                        <label for="finput2" class="labelCanvas">+</label>
                        <canvas id= "canv2" ></canvas>
                        <input type="file" multiple="false" accept="image/*" onchange="upload(2)" id="finput2" name="image2">
                        <label for="finput3" class="labelCanvas">+</label>
                        <canvas id= "canv3" ></canvas>
                        <input type="file" multiple="false" accept="image/*" onchange="upload(3)" id="finput3" name="image3">
                        <label for="finput4" class="labelCanvas">+</label>
                        <canvas id= "canv4" ></canvas>
                        <input type="file" multiple="false" accept="image/*" onchange="upload(4)" id="finput4" name="image4">
                        <label for="finput5" class="labelCanvas">+</label>
                        <canvas id= "canv5" ></canvas>
                        <input type="file" multiple="false" accept="image/*" onchange="upload(5)" id="finput5" name="image5">
                        <label for="finput6" class="labelCanvas">+</label>
                        <canvas id= "canv6" ></canvas>
                        <input type="file" multiple="false" accept="image/*" onchange="upload(69+-*)" id="finput6" name="image6">
                    </aside>
                </article>
            </div>
            <input type="submit" name="buttonInscription" class="buttonInscription">
        </from>
    </section>
  











    <script type="text/javascript">
        function upload(num){
            var imgcanvas = document.getElementById("canv"+num);
            var fileinput = document.getElementById("finput"+num);
            var image = new SimpleImage(fileinput);
            image.drawTo(imgcanvas);
        }
    </script>
    {% block content %}{% endblock %}

</body>
</html>